block body
  body
    include google-tag-body
    include nav
    block main
    include footer
    block firebasejs
      script(src="https://www.gstatic.com/firebasejs/5.4.1/firebase.js")
    block footjs
