
#index-banner.section.no-pad-bot
  .container
    br
    br
    h1.header.center.orange-text サバイバルTRPG 廃棄世界漂流
    .row.center
      h5.header.col.s12.light 棄てられた世界が、虚無の砂へと還るまでに
    .row.center
      a#download-button.btn-large.waves-effect.waves-light.orange(href='./rulebook.html') ページを開く
    br
    br

.container
  .section
    // Icon Section
    .row
      .col.s12.m4
        .icon-block
          h2.center.light-blue-text
            i.material-icons local_library
          h5.center ルール
          p.light
            | シンプル
      .col.s12.m4
        .icon-block
          h2.center.light-blue-text
            i.material-icons group
          h5.center キャラクター
          p.light
            a(href='./characters/index.html') オンラインキャラクターシート（工事中。まだ使えません）
      .col.s12.m4
        .icon-block
          h2.center.light-blue-text
            i.material-icons settings
          h5.center シナリオ
          p.light
            p シナリオシート
            a(href='./scenarios/sample1.html') サンプルソロシナリオ「目覚め」
  br
  br
