extends includes/common/layout
//- _layout.pugをベースに作成

//- タイトルのブロック
block title
  //- 最初にこのページで使用する変数を読み込む
  include includes/rulebook/variables
  title= このサイトについて

block main
  .container
    h1.center このサイトについて
    .section
      h2 利用素材
      p このサイトで利用している画像などは以下の素材サイト様よりお借りしています。
      ul
        li: a(href="http://pictogram2.com/?page_id=2") ヒューマンピクトグラム2.0
      h2 プライバシーポリシー
      h3 google利用規約
      p google analyticsを使用しています。
      p firebase の authentication機能を使用しています。
      P
        a(href="https://policies.google.com/privacy?hl=ja") Google利用規約
