extends _includes/common/layout
//- _layout.pugをベースに作成

block main
    .container
      h1=title
      .description 
        | hiboの制作物置き場です。
      .section
        a(href="https://lostrpg-751c1.firebaseapp.com/lost/") LOSTRPG
        span … 自作TRPGです。子供たちが廃墟となった世界でサバイバルします。
      .section
        a(href="https://garden-2a6de.firebaseapp.com/rulebook") Garden
        span … 自作TRPGです。子供たちが研究施設崩壊後の孤島でサバイバルします。
      .section
        a(href="udonarium/") ユドナリウム
        span … 設置させていただいております。
        a(href="https://github.com/TK11235/udonarium") 作者サイト。
      .section
        a(href="insane/") インセインハンドアウトメイカー
        span … インセインの印刷用ハンドアウトを作成します。
      .section
        a(href="info-graph/") 情報項目グラフ化ツール
        span … 情報項目をグラフ化します。
      .section
        a(href="go-waste/") 廃棄世界漂流
        span … 作成中TRPG
      .section
        a(href="http://nibbler.silktide.com/en_US/reports/wasureta-d6b34.firebaseapp.com") サイト分析
        span … 分析結果

      .section
        a(href="privacy-policy.html") プライバシーポリシー
        span … 当サイトでの個人情報の取り扱いについて