

extends includes/common/layout
//- _layout.pugをベースに作成

//- タイトルのブロック
block title
  //- 最初にこのページで使用する変数を読み込む
  include includes/rulebook/variables
  title= インセイン狂気カード
block css
  .
    <style>
    .flex{
      display: flex;
    }
    .f1{
      flex: 1;
    }
    .section{
      display:flex;
      flex-wrap: wrap;
    }
    .insane-card{
      display:flex;
      flex-direction: row;
      width:400px;
      margin: 10px;
    }
    .card .card-title{
      font-size: 16px;
    }


    .insane-wrapper{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    @media print{
      .print{
        /*width: 172mm;*/ /* A4縦の幅 */
       /* height: 251mm;*/ /* A4縦の高さ */
       page-break-after: always; /* 各ページの終わりに改ページ */
      }
      .page-footer,#navigation,h1
      {
        display:none;
      }
      .container{
        margin:0;
        padding:0;
      }
      .insane-card{
      display:flex;
      flex-direction: row;
      width:380px;
      margin: 0px;
    }
    }


    </style>
//- A4(794px * 1123px)

mixin secret(shock)
  .card.black.insane-wrapper(style="width: 190px; height: 300px")
    .card-title.white-text(style="flex:1; text-align:center") Handout
    .card.white(style="display:flex;width:180px;height:290px;flex-direction: column;justify-content: center;align-items: center;")
      .card.black(style="width:170px;height:280px;margin-bottom:0.5rem;")
        .white-text(style="font-size:10px;flex:1; text-align:center") 秘密
        .insane-wrapper
          .card.white(style="width:160px;height:180px;margin:1px")
              .row(style="font-size:12px;border-bottom: 3px double #bbb;margin-bottom:3px;")
                .col.s4(style="border-right: solid 1px #bbb;padding:0;x") ショック
                .col.s8=shock
              .card-content(style="font-size:9px;padding:0;margin:2px")
                block
        .white-text(style="font-size:10px;flex:1; text-align:center") この秘密を自分から
        .white-text(style="font-size:10px;flex:1; text-align:center") 明らかにすることはできない

mixin open(name)
  .card.white.insane-wrapper(style="width: 190px; height: 300px")
    .card-title(style="flex:1; text-align:center")=name
    .card.black(style="display:flex;width:180px;height:290px;flex-direction: column;justify-content: center;align-items: center;")
      .card.white(style="width:170px;height:280px;margin-bottom:0.5rem;;margin:1px")
        .black-text(style="font-size:10px;flex:1; text-align:center") 使命
        .insane-wrapper
          .card.white(style="width:160px;height:220px;margin:1px")
              .row(style="font-size:12px;border-bottom: 3px double #bbb;margin-bottom:3px;")
                .col.s4(style="border-right: solid 1px #bbb;padding:0;x") ショック
                .col.s8 なし
              .card-content(style="font-size:9px;padding:0;margin:2px")
                block

block main
  .container
    h1.center 狂気カード
    .section.print
       .insane-card.card
         .f1
           +open('PC1')
              | あなたは、京都へと修学旅行に来た高校生だ。
              | 仲のいい友人達との楽しい旅行だが、昔からのキミの友人である「杉森 夏葉」の表情が少し暗いように思う。
              | 彼女にも修学旅行を楽しんでもらえるように、あなたは彼女の力になりたいと思っている。
              | ※あなたは、最初から「杉森夏葉」に任意の感情を取得している。
              | あなたの【使命】は、「杉森 夏葉」と共に修学旅行を終えることである。
         .f1
           +secret("なし")
              | あなたは、かつて京都に住んでいたことがあり、その時８歳の弟を事故で亡くしている。
              | 当時、ふさぎ込むあなたを、夏葉は誠心誠意支えてくれた。
              | その後も、夏葉は何かとあなたの事を気にかけてくれており、あなたは夏葉のことを無くすことのできない親友だと思っている。

                
       .insane-card.card
         .f1
           +open('PC2')
              | あなたは、京都へと修学旅行に来た高校生だ。
              | 京都と言えば伏見稲荷、伏見稲荷と言えば千本鳥居。
              | 楽しみにしていたメインイベントだったが、クラスメイトの「杉森夏葉」が何者かにさらわれてしまった
              | とにかく何が起こったのかを調査しないと。
              | ※あなたは、最初から「杉森夏葉」に任意の感情を取得している。
              | あなたの【使命】は、仲間と共に「杉森 夏葉」を見つけることである。
         .f1
           +secret("なし")
              | オカルト好きなあなたは、ふとした時に見つけた「名渡し」という儀式を夏葉に教えたことがある。 
              | 「名前」を渡すことで願いが叶うというその儀式に夏葉は大いに関心を示し、執拗にあなたに儀式の事を聞いてきた。            
              | その後も夏葉は独自に「名渡し」について調べており、その姿はまるで何かにとりつかれているようだった。
              | 何かイヤな予感がする。この事は自分の胸に秘めておこう。

       .insane-card.card
         .f1
           +open('PC3')
              | あなたは、京都へと修学旅行に来た高校生だ。
              | 伏見稲荷を観光中、クラスメイトである「杉森夏葉」が何者かにさらわれてしまった。
              | さらに、千本鳥居がある稲荷山から出ることができなくなってしまう。
              | あまりに衝撃的なその事件に、キミはめまいすら覚える。
              | とにかく、仲間と共に夏葉を探さなければ。
              | ※あなたは、最初から「杉森夏葉」に任意の感情を取得している。
              | あなたの【使命】は、仲間達が欠けることなく、修学旅行を終えることである。
         .f1
           +secret("全員")
              | あなたはPC③に憑依した狐である。
              | あなたは何者かに「名前」を奪われており、体が支配されようとしている。
              | 自分の真名がわからない状態では、力を使うこともできない。
              | かろうじて自分の体から抜け出したあなたは「名前」を取り戻すためにPC③に憑依した。
              | あなたの【本当の使命】は、自分の「名前」を取り戻すことである。
              | この【秘密】を知ったPCは《驚き》で恐怖判定を行う。
       .insane-card.card
         .f1
           +open('PC4')
              | あなたは、京都へと修学旅行に来た高校生だ。 
              | 仲間達との楽しい観光。目にするものはどれも珍しく、ついつい必要ないものまで買ってしまった。ペナントやご当地キーホルダーなど、キミの鞄はもう限界に近い。
              | そんな中、同級生の「杉森 夏葉」が伏見稲荷で姿を消してしまう。
              | 大変な事になってしまった、早く彼女を見つけ、楽しい旅行に戻らねば。
              | ※あなたは、最初から「杉森夏葉」に任意の感情を取得している。
              | あなたの【使命】は、「杉森 夏葉」を見つけることである。
         .f1
           +secret("PC1")
              | あなたは、PC①のことが好きである。
              | この班に入ったのも、PC①と想い出を作り、あわよくば告白してしまおうと考えたからだ。
              | あなたの【本当の使命】は、この【秘密】を誰かに獲得される前に、PC①に自身への【愛情】の感情を持たせることである。

       .insane-card.card
         .f1
           +open('杉森夏葉')
              | クラスメイトである少女。面倒見がよく、もの静かだが、姉のように頼りになる人だ。
              | 元々あまり笑う方ではなかったが、修学旅行で京都へ行くと決まってからさらに笑う事が少なくなり、暗い顔をするようになった。
         .f1
           +secret("")
              | あなたの本当の使命は

       .insane-card.card
         .f1
           +open('楓（ふう）')
            | 稲荷山を歩いていた少年。
            | ８歳くらいの外見で、これといった特徴はない。
            | 彼は、山の中で■■に会ったと言っており、彼女に、PCたちに会うように言われたらしい。
         .f1
           +secret("全員")
            | 「楓」は彼の本当の名前ではない。
            | 「楓」という名前も自分でつけたもののようだ。
            | 彼は自分がなぜここにいるのか、どうやってここに来たのかを覚えていないようだ。
            | ※クライマックスフェイズ終了時「楓」が自分の「名前」を持っていない場合、彼は消滅する。
            | ハンドアウト「■■の手帳」を公開する。

       .insane-card.card
         .f1
           +open('稲荷山を支配するモノ')
            | 現在の稲荷山を支配しているモノ。
            | 神域である常世の稲荷山を支配することのできる強力な力を持つものであり、邪なる神。
            | 伏見稲荷大社と千本鳥居に多く集まる人々の欲望や願いが呼び寄せたモノたちが、何かのきっかけで力を持ち、自らの意思で行動しはじめたものと思われる。
            | 通常の手段で撃退することは不可能だろう。
         .f1
           +secret("PC3以外")
            | 支配するモノの正体は「マガツヒノカミ」と呼ばれる邪神である。
            | 人の「名前」を集めることで力を増す。
            | 現在「マガツヒノカミ」は、
            | 「■■■■」「楓の真名」「ＰＣ③」の「名前」を所持している。
            | 「マガツヒノカミ」に戦闘で勝利することはできない。
            | 「マガツヒノカミ」の使命は、より多くの「名前」を集め、自らの力を高めることである。
            | この【秘密】を知ったPCは《暗黒》で恐怖判定を行う。
                        
       .insane-card.card
         .f1
           +open('大祓（おおはらえ）')
            | 神道における浄化の儀式のひとつ。
            | 天下万民の穢れを祓うために行なわれる儀式である。
            | 大祓を行なう事で、溜まった穢れを祓い落とし。元の稲荷山を取り戻し、異変を解決する事ができる。
         .f1
           +secret("PC3以外")
            | 大祓の儀式を行えば、全ての穢れを封じることができる。
            | その穢れが持つ力も、その穢れが持つ物も等しく封じ、常世には平和が戻るだろう。
            | ※クライマックスフェイズにて、儀式「大祓」を行えるようになる。
            | 「大祓」に成功すると、邪なる神を封じることができる。
                        


       .insane-card.card
         .f1
           +open('名渡しの儀式')
            | （なわたしのぎしき）。古来より伝わる神に祈りを捧げる儀式。
            | 縁を結んだ者が、「名前」を神に捧げることで、自らの願いを叶えることができる。
            | だが、「名前」を捧げられたものは、その神の支配をうけ、現世から徐々に忘れ去られる。
            | その者と現世(うつしよ)との縁が全て切れた時、その者は二度と常世(とこよ)から出ることはできなくなる。
            | ※「名渡しの儀式」の【秘密】を獲得しているＰＣは、手番を消費せず、任意のタイミングで儀式を行うことができる。
         .f1
           +secret("PC1, PC2")
            | 「名渡しの儀式」とは、縁を結んだ誰かの「名前」をささげることで願いをかなえることができる儀式である。
            | ・縁を結んだ他者がその者の名前を呼ぶことで、その者の名前を捧げることができる。
            | ・■■■■は、自分の「名前」を捧げることで、ある人物の魂を呼び出した。呼び出された魂が「楓」である。
            | ・「名前」を神に捧げることで、願いを叶えることができる。

       .insane-card.card
         .f1
           +open('稲荷山')
            | 伏見稲荷大社がある山。麓に本殿があり、山全体が神域となっている。
            | 多くの鳥居に囲まれた登山道と、登山道を外れた山の中に１万基以上の小さな祠があり、稲荷大神以外の神も多く祀られている。
            | どこからか声が聞こえる。いないはずの人が見えた。など、多くの怪現象が噂されており、伝説に彩られた山である。
            | 稲荷山を下りようとすると、不思議と道が見えなくなり、気がつくと山の中にいる。         
         .f1
           +secret("なし")
            | 現在PCたちがいる稲荷山は、人間が住む「現世(うつしよ)」ではなく、神が住む「常世(とこよ)」となっている。
            | そのため、通常の手段ではここから出ることができない。
            | 周囲には不気味なうめき声や黒い影があり、この地が邪な何かに支配されていることがわかる。

       .insane-card.card
         .f1
           +open('●■■の手帳')
              | クラスメイトである「■■■■」が持っていた手帳。
              | この手帳の持ち主の名前は何だったか、どういう人物だったかを、あなた方はゆっくりと忘れていく。
              | 楽しかった思い出も、一緒に過ごした日々も、それらすべてが零れ落ちていく。           
         .f1
           +secret("なし")
              | 手帳には彼女の文字で、PCたちにあてていくつかのことがかかれている。
              | だが、その文字もぼんやりと少しづつ見えなくなっていく………。
              | ・この手帳を持つ少年を助けてほしい。彼に、彼の「名前」を渡し、この山から連れ出してほしい。
              | ・もし帰り方がわからなくなったら、この方法で彼を連れて帰ってほしい。
              | ハンドアウト「帰り道」を公開する。
              | この【秘密】を知ったPCは《哀しみ》で恐怖判定を行う。

       .insane-card.card
         .f1
           +open('「名前」について')
              | 「■■■■」が調べていた事柄。
              | 彼女は「名前」という物について調べていた。
              | 古来より、「名前」には力が宿ると言われており、その力は「言霊」とも呼ばれる。
         .f1
           +secret("なし")
              | 神に名を奪われた者は、その神の眷属となり、神の住む世界である常世(とこよ)にとどまることとなる。
              | 奪われた「名前」を取り戻すには「名獲り(なとり)」の儀式を行わなければならない。
              | ※クライマックスフェイズにて、
              | 儀式「名獲り」を行えるようになる。
              | 「名獲り」に成功すると、対象の持つ「名前」を１つ取り戻すことができる。
              | 「名獲り」の儀式はクライマックスフェイズ中、何度でも行うことができる。

       .insane-card.card
         .f1
           +open('帰り道')
              | 「■■■■」が調べた、常世(とこよ)から現世(うつしよ)へと帰るための方法。
              | 神域から脱出するための、簡単な手順が書かれているようだ。
         .f1
           +secret("なし")
              | 常世となった稲荷山から脱出するためには、丑の刻になると現れる「現世(うつしよ)への門」へ行き、門の支配者と戦う必要がある。
              | その戦闘中、支援行動として《民俗学》の判定に成功したPCは、戦闘から離脱し、現世へと戻ることができる。

       .insane-card.card
         .f1
           +open('■■の荷物')
              | ＰＣたちのクラスメイトである少女
              | 「■■■■」の荷物。
              | 大きなリュックいっぱいに様々な物が入れられているようだ。
              | 旅行に持って行くにしてはどうも不自然な形のような気がする。
         .f1
           +secret("なし")
              | 拡散情報。
              | 神道関係の本、祭事用と思われる道具、札など、荷物の中は、修学旅行にふさわしくない物ばかりだ。
              | それらの物から、彼女が調べていたことがおぼろげながらわかってくる。
              | 彼女はこの地で何をしようとしていたのだろうか。
              | ハンドアウト「名渡しの儀式」「名前について」「大祓」を公開する。


       .insane-card.card
         .f1
           +open('杉森夏葉の「記憶」')
                | 杉森夏葉に関するあなたの“記憶”
                | 残された数少ない彼女とのつながり。
                |  名を無くした者は、彼女との縁が切れ、その記憶は消えていくだろう。
                | 各サイクルの開始時、ＧＭが指定した特技での判定を行う。
                | 判定に失敗した場合、このプライズを失う。
                | ※このプライズを失ったＰＣは、キャラクターシートの人物欄から「杉森夏葉」の名前と感情を消し、このプライズを破り捨てること。
                | このプライズを他人に譲渡することはできない。
         .f1
           +secret("なし")

       .insane-card.card
         .f1
           +open('杉森夏葉の「記憶」')
                | 杉森夏葉に関するあなたの“記憶”
                | 残された数少ない彼女とのつながり。
                |  名を無くした者は、彼女との縁が切れ、その記憶は消えていくだろう。
                | 各サイクルの開始時、ＧＭが指定した特技での判定を行う。
                | 判定に失敗した場合、このプライズを失う。
                | ※このプライズを失ったＰＣは、キャラクターシートの人物欄から「杉森夏葉」の名前と感情を消し、このプライズを破り捨てること。
                | このプライズを他人に譲渡することはできない。
         .f1
           +secret("なし") 
           | このプライズを失った者は、失った時に《夢》で恐怖判定を行う。

       .insane-card.card
         .f1
           +open('杉森夏葉の「記憶」')
                | 杉森夏葉に関するあなたの“記憶”
                | 残された数少ない彼女とのつながり。
                |  名を無くした者は、彼女との縁が切れ、その記憶は消えていくだろう。
                | 各サイクルの開始時、ＧＭが指定した特技での判定を行う。
                | 判定に失敗した場合、このプライズを失う。
                | ※このプライズを失ったＰＣは、キャラクターシートの人物欄から「杉森夏葉」の名前と感情を消し、このプライズを破り捨てること。
                | このプライズを他人に譲渡することはできない。
         .f1
           +secret("なし") このプライズを失った者は、失った時に《夢》で恐怖判定を行う。

       .insane-card.card
         .f1
           +open('土産物屋の木刀')
              | 土産物屋で購入した木刀。
              | 安かったのだが、値段に似合わず中々よくできている。
              | 持っているとなんだか自分が強くなったような気分になる。
              | 所有者は自由に【秘密】を見る事ができる。

         .f1
           +secret("なし") 
              | この木刀は、樹齢千年の樹より削り出されたものであり、邪を祓うのに効果を発揮するものである。
              | このプライズを持つものは、怪異に関する判定の目標値にー１の修正を入れることができる。
              | なお、この効果が使用できるのは１サイクルに１度までとする。

       .insane-card.card
         .f1
           +open('ダサいＴシャツ')
              | 観光地のお土産屋によくおかれているダサいＴシャツ。
              | よくわからない言葉が書かれており、ノリで買って後で後悔する。
              | 所有者は、このＴシャツを着ているものとする。
              | 所有者は自由に【秘密】を見る事ができる。
         .f1
           +secret("新たにこの秘密を見たＰＣ") 
              | ダサい、あまりにダサい。
              | ノリで着てはみたものの、これは失敗だったかもしれない。
              | 周囲の人の視線を感じる、みんなが自分を見ているに違いない…！
              | このプライズを持つものは、各サイクルの開始時に《カメラ》で恐怖判定を行う。


       .insane-card.card
         .f1
           +open('たい焼きパフェ')
              | 伏見稲荷の入り口付近の屋台で売られているスイーツ。
              | たいの口に無理やりパフェが詰め込まれているように見える。
              | 所有者は自由に【秘密】を見る事ができる。
         .f1
           +secret("なし") 

              | 甘くておいしいが４００円もする。
              | もったいないので後で食べよう。
              | このプライズを使用すると、【生命力】か【正気】のどちらかを１点回復させることができる。



       .insane-card.card
         .f1
           +open('じゃがりこ')
              | 鞄の中に入っていたじゃがりこ、うまい。
              | 味は自由に設定してもよい。
              | 所有者は自由に【秘密】を見る事ができる。

         .f1
           +secret("なし") 

                | 実はこのじゃがりこは一年前に賞味期限が切れている。
                | 未開封ではあるが、危ないのではないだろうか。
                | このプライズは、誰かが食べると大変なことになるので【武器】として使用することができる。




