extends includes/common/layout
//- _layout.pugをベースに作成

//- タイトルのブロック
block title
  //- 最初にこのページで使用する変数を読み込む
  include includes/rulebook/variables
  title= title

block footjs
  script(src="assets/js/rulebook.js")


block main
  .container
    h1.center 基本ルールブック
    .section
      h2 プレイヤーセクション
      h3 はじめに
      p 
        | 砂漠の瓦礫の中で目が覚める。意識を失う前とまるで違う世界。
        | これは夢ではないのだと、喉の渇きが訴えていた。
      p 本ゲームは、崩壊後の世界を生きることを選んだ人々を演じるゲームである。
      p プレイヤーの分身であるキャラクター（以下、PC)は、壊れた世界の処分場に放り出される。
        | 生き残れ。
      .collection.with-header
        .collection-header 用語
        .collection-item ndx：n面ダイスをx個ふるという意味。
        .collection-item 1d10： 10面ダイス１つを振る。10面ダイスは1から10までの値をとるものとする。
      .collection.with-header
        .collection-header  かっこの種類
        .collection-item 【】：キャラクターの能力値を表す。
        .collection-item 《》：アクションを表す。
        .collection-item ＜＞：このゲームで使われる固有名詞を表す。
      .collection.with-header
        .collection-header  その他
        .collection-item 端数の処理：このゲームでは、割り算を行う場合常に端数は切り上げとする。
      h3 レギュレーション
      .regulation
        +checkbox('基本', 'base-regulation', 'checked')
        +checkbox('サバイバル', 'survival-regulation')
      dl.collection
        dt 基本
        dd 本ゲームを遊ぶ上で、基本となるルール。 #[span.base-regulation 表示中]
        dt サバイバル
        dd 極限状況で生き延びることに重点を置いたルール。 #[span.survival-regulation 表示中]
      //- キャラクター
      include includes/rulebook/character
      //- 判定
      include includes/rulebook/check
      //- セッションの流れ
      include includes/rulebook/cycle
