extends includes/common/layout
//- _layout.pugをベースに作成

//- タイトルのブロック
block title
  //- 最初にこのページで使用する変数を読み込む
  include includes/index/variables
  title= title

block main
  .container
    h1.center 基本ルールブック
    .section
      h2 プレイヤーセクション
      h3 はじめに
      p 
        | 虚無の砂漠の海に浮かぶ島。それは棄てられた世界の欠片。
        | 剪定された世界の欠片が、虚無に還るまでのゴミ箱の中。
        | 世界に不要だったヒト、モノ。
        | 滅びと虚無の狭間で、生きる。
      p 本ゲームは、崩壊後の世界を生きることを選んだ人々を演じるゲームである。
        | プレイヤーの分身であるキャラクター（以下、PC)は、壊れた世界のゴミの山に放り出される。
        | 生き残れ。
      h4 かっこの種類
      ul 
        li 【】：キャラクターの能力値を表す。
        li 《》：アクションを表す。
        li ＜＞：このゲームで使われる固有名詞を表す。
      h5 端数の処理
      p このゲームでは、割り算を行う場合常に端数は切り上げとなる。
