extends includes/common/layout
//- _layout.pugをベースに作成

//- タイトルのブロック
block title
  //- 最初にこのページで使用する変数を読み込む
  include includes/rulebook/variables
  title= title

block main
  .container
    h1.center 基本ルールブック
    .section
      h2 プレイヤーセクション
      h3 はじめに
      p 
        | 砂漠の瓦礫の中で目が覚める。意識を失う前とまるで違う世界。
        | これは夢ではないのだと、喉の渇きが訴えていた。
      p 本ゲームは、崩壊後の世界を生きることを選んだ人々を演じるゲームである。
        | プレイヤーの分身であるキャラクター（以下、PC)は、壊れた世界の処分場に放り出される。
        | 生き残れ。
      h4 かっこの種類
      ul 
        li 【】：キャラクターの能力値を表す。
        li 《》：アクションを表す。
        li ＜＞：このゲームで使われる固有名詞を表す。
      h4 端数の処理
      p このゲームでは、割り算を行う場合常に端数は切り上げとする。

      //- キャラクター
      h3 キャラクター
      p キャラクターの作成について。
      h4 名前の設定
      p 名前を決定する。

      h4 能力値の決定
      p 肉体、敏捷、知覚、精神の4つの能力値を持つ。
      dl 
        dt 肉体
        dd 力の強さ、持久力など体の強さ
        dt 敏捷
        dd 機敏さ、器用さなど体の使い方
        dt 知覚
        dd 視力、聴力、観察力など五感の鋭さ
        dt 精神
        dd 閃き、知識、精神的タフさなど頭の使い方
      h5 体格の決定
      p 大、中、小から選択する。
      dl 
        dt 大
        dd 肉体+1, 敏捷-1
        dt 中
        dd 能力値変化なし
        dt 小
        dd 肉体-1, 敏捷+1
      //- 判定
      include includes/rulebook/check
      //- セッションの流れ
      include includes/rulebook/cycle
