extends includes/common/layout
//- _layout.pugをベースに作成

//- タイトルのブロック
block title
  //- 最初にこのページで使用する変数を読み込む
  include includes/rulebook/variables
  title= title

block main
  .container
    h1.center 基本ルールブック
    .section
      h2 プレイヤーセクション
      h3 はじめに
      p 
        | 砂漠の瓦礫の中で目が覚める。意識を失う前とまるで違う世界。
        | これは夢ではないのだと、喉の渇きが訴えていた。
      p 本ゲームは、崩壊後の世界を生きることを選んだ人々を演じるゲームである。
        | プレイヤーの分身であるキャラクター（以下、PC)は、壊れた世界の処分場に放り出される。
        | 生き残れ。
      h4 かっこの種類
      ul 
        li 【】：キャラクターの能力値を表す。
        li 《》：アクションを表す。
        li ＜＞：このゲームで使われる固有名詞を表す。
      h4 端数の処理
      p このゲームでは、割り算を行う場合常に端数は切り上げとする。

      //- キャラクター
      h3 キャラクター
      //- 判定
      include includes/rulebook/check
      //- セッションの流れ
      include includes/rulebook/cycle
