extends _includes/common/layout
//- _layout.pugをベースに作成

//- タイトルのブロック
block title
  //- 最初にこのページで使用する変数を読み込む
  include _includes/index/variables
  title= title

block css
  link(href='https://cdn.firebase.com/libs/firebaseui/3.1.1/firebaseui.css', type='text/css', rel='stylesheet')

block firebasejs
  script(src="https://www.gstatic.com/firebasejs/5.4.1/firebase.js")
  script(src='https://www.gstatic.com/firebasejs/ui/3.4.0/firebase-ui-auth__ja.js')
  script(src="assets/js/sign-in.js")

block main
  #firebaseui-auth-container(lang='ja')
  #loader Loading ...