extends ../_includes/common/layout
//- _layout.pugをベースに作成
//- タイトルのブロック
block title
  //- 最初にこのページで使用する変数を読み込む
  include ../_includes/index/variables
  title= title

block footjs
  script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js")
block main
  #main

