extends _includes/layout
//- _layout.pugをベースに作成

block main
  header
    .left
      h1 卓遊庵
    .right
      i#settings.settings.material-icons settings
  nav.settings
    ul 
      li #[a(href="/lobby") ロビー]
      

  .wrapper
    .container
      #main-content
 
