block body
  body.page
    include google-tag-body
    header.page-head
      a(href="#") 廃棄世界漂流
    main.page-main
      block main
    include nav
    footer.page-foot
      p © hibohiboo
    block footjs
