nav.page-nav
  ul
    each item, index in linklist
      li 
        a.white-text(href=item.url)=item.text
button(type="button").page-btn
  span.fas.fa-bars(title=messages.menuOpen)
button(type="button").page-btn-close
  span.fas.fa-times(title=messages.menuClose)
