
* {
  margin: 0;
  padding: 0;
}


body {
  background-color: #fff;
  margin-top: 20px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  min-height: 100vh-20;// フッタ分マイナス
}

header {
  align-items: center;
  display: flex;

  img {
    margin-right: 30px;
    width: 60px;
  }
}

// フッタ設定
footer {
  margin-top: 10px;
  background-color: #000;
  color: #fff;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  min-height: 20px;
  width: 100%;

  .sns-icons {
    grid-column: 1;
    grid-row: 1;
    padding-left: 20px;
    width: 80px;
  
    ul {
      display: grid;
      grid-auto-flow: column;
      grid-column-gap: 20px;
      grid-row-gap: 10px;
      list-style-type: none;
      padding: 5px;
    }

    a {
      $iconColor: #aaa;
      $fontSize: 1em;
      $fontBorderSize: 1.5em;
      border: solid 2px $iconColor;
      border-radius: 50px;
      color: $iconColor;
      display: block;
      font-size: $fontSize;
      height: $fontBorderSize;
      line-height: $fontBorderSize;
      text-align: center;
      text-decoration: none;
      width: $fontBorderSize;
    }
  }

  .footer-copyright {
    align-self: center;
    font-size: 0.8em;
    grid-column: 1;
    grid-row: 1;
    justify-self: center;

    a {
      color: #fff;

      text-decoration: none;
    }

  }
}

button {
  margin-right: 15px;
}

.handout-list {
  // display: flex;
  // flex-wrap: wrap;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-left: 5px;
  row-gap: 6px;
}

.handout-list section {
  margin-right: 5px;
}

// エディタ部分

.editor {
  padding-bottom: 20px;
  padding-top: 20px;

  textarea {
    height: 200px;
    width: 90%;
  }
  .number-display-edit-area{
    label {
      padding-right: 20px;
    }
  }
}

svg {
  $titleSize: 14px;
  $textSize: 12px; // 文字の大きさ
  $textLength: 14; // 1行の文字数
  text, div{
    font-family: "Osaka－等幅" "ＭＳ 明朝" "Courier New", Consolas, monospace;

  }
  text{

  }
  div{
    white-space: wrap;
    font-size: $textSize;
    width: $textSize * $textLength;
  }

}