@import "~purecss/build/pure.css";

* {
  margin: 0;
  padding: 0;
}


body {
  background-color: #ddd;
  margin-top: 20px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
}

header {
  align-items: center;
  display: flex;

  img {
    margin-right: 30px;
    width: 60px;
  }
}

button {
  margin-right: 15px;
}

.logo {
  background: url("images/logo.png");
  background-size: cover;
  height: 60px;
  width: 60px;
}

.handout{
  font-size: 16px;
}

.mission-card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(12, 1fr);
  column-gap: 0;
  row-gap: 0;
  height: 400px;
  width: 200px;
  border: #000 1px solid;
}


.mission-card-head{
  grid-column: 1/-1;
  grid-row: 1;
  font-size: 1em;
  font-weight: bold;
  align-self: center; // 縦方向中央揃え
  text-align: center; // 横方向中央揃え

}
// ハンドアウトの名前の上下の罫線
.mission-card::before {
  grid-column: 1/-1;
  grid-row: 2;
  content: '';
  border-top:  solid 1px #000 ;
  border-bottom: solid 1px #000 ;
}
// ハンドアウトの名前の右の罫線
.mission-card::after {
  grid-column: 1;
  grid-row: 2;
  content: '';
  border-right:  solid 1px #000 ;
}
.mission-title-label {
  grid-column: 1;
  grid-row: 2;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  align-self: center;
}
.mission-title {
  grid-column: 2/-1;
  grid-row: 2;
  font-size: 0.8em;
  font-weight: bold;
  align-self: center;
  padding-left: 5px;
}
.mission-label {
  grid-column: 1/-1;
  grid-row:3;
  align-self: center;
  text-align: center;
  font-size: 0.8em;
  margin-top: -8px; // 使命の行を狭くする
}
.mission{
  grid-column: 1/-1;
  grid-row: 4/-1;
  font-size: 0.8em;
  // 改行を反映
  white-space: pre-wrap;
  border-top:  solid 1px #000 ;
  padding: 5px;
  margin-top:  -10px; // 使命の行を狭くする
}