@import "~purecss/build/pure.css";

* {
  margin: 0;
  padding: 0;
}


body {
  background-color: #fff;
  margin-top: 20px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
}

header {
  align-items: center;
  display: flex;

  img {
    margin-right: 30px;
    width: 60px;
  }
}

button {
  margin-right: 15px;
}

.logo {
  background: url("images/logo.png");
  background-size: cover;
  height: 60px;
  width: 60px;
}

.handout-list{
  display: flex;
}

.handout-list section{
  margin-right: 5px;
}

// エディタ部分

.editor{
  textarea {
    width: 90%;
    height: 200px;
  }
}

// ハンドアウト部分
$handout-border: 1px;
$handout-card-width: 190px;
$handout-gap: 5px;

.handout {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  column-gap: $handout-gap;
  font-size: 14px;
  // font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  font-family: "游明朝", "YuMincho", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif; 
  background-color: #fff;
  width: ($handout-card-width * 2 + $handout-border * 2 + $handout-gap);
  border: solid $handout-border #000;
  box-sizing: border-box;
}

// ハンドアウト間の破線
.handout::before {
  grid-column: 1;
  grid-row: 1;
  content: '';
  border-right: dashed 1px #000 ;
  margin-right: -3px; // 二つのカードの中央に合わせる。gapが5なので中央の3とする。
  z-index: 10;
}

// グリッドレイアウトの開始：ハンドアウト（中）
.handout-card {
  height: 300px;
  width: $handout-card-width;
  border: solid 1px #000;
  padding:4px 8px;
  box-sizing: border-box;
  height: 270px;
}

.mission-card{
  grid-column: 1;
  grid-row: 1;
}

.mission-card-head,
.secret-card-head  {
  font-size: 1.2em;
  font-weight: bold;
  align-self: center; // 縦方向中央揃え
  text-align: center; // 横方向中央揃え
}

.handout-card-inner{
  display: grid;
  column-gap: 0;
  row-gap: 0;
  height: 230px;
  box-sizing: border-box;
  // 多重の枠線（内側←黒、白、黒（太線）→外側）
  box-shadow: 0 0 0 1px #000,
              0 0 0 2px #fff,
              0 0 0 4px #000;
}

// 使命・秘密の本文
.handout-card-inner p {
  line-height: 1.4;
  font-size: 0.8em;
  white-space: pre-wrap; // 改行を反映
}

// グリッドレイアウトの開始：ハンドアウト（左:中）
.mission-card-inner {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 14px repeat(10, 1fr);
}

// ハンドアウトの名前の下の罫線
.mission-card-inner::before {
  grid-column: 1/-1;
  grid-row: 1;
  content: '';
  border-bottom: solid 2px #000 ;
}
// ハンドアウトの名前の右の罫線
.mission-card-inner::after {
  grid-column: 1;
  grid-row: 1;
  content: '';
  border-right:  solid 1px #000 ;
}
.mission-title-label {
  grid-column: 1;
  grid-row: 1;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  align-self: center;
}
.mission-title {
  grid-column: 2/-1;
  grid-row: 1;
  font-size: 0.8em;
  font-weight: bold;
  align-self: center;
  padding-left: 5px;
}
.mission-label {
  grid-column: 1/-1;
  grid-row:2;
  align-self: center;
  text-align: center;
  font-size: 0.8em;
}
.mission{
  grid-column: 1/-1;
  grid-row: 3/-1;
  border-top:  solid 1px #000 ;
  padding: 5px;
}

.secret-card {
  grid-column: 2;
  background-color: #000;
  color: #fff;
}

// ハンドアウトのショックの右の罫線
.secret-card-inner::after {
  grid-column: 3;
  grid-row: 2;
  content: '';
  border-right:  solid 1px #000 ;
}

// グリッドレイアウトの開始：ハンドアウト（左:中）
.secret-card-inner {
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 14px repeat(11, 1fr);
  background-color: #fff;
  color: #000;
}
.secret-label {
  grid-column: 1/-1;
  grid-row: 1;
  align-self: center;
  text-align: center;
  background-color: #000;
  color: #fff;
  font-size: 0.8em;
}

// ショックの下の2重線のせいで、中央だと上に寄ってに見えてしまうため少し下にずらす。
$shock-padding-top: 1px;

.shock-label {
  grid-column: 1/3;
  grid-row: 2;
  font-size: 0.7em;
  font-weight: bold;
  text-align: center;
  align-self: center;
  white-space: nowrap;
  padding-top: $shock-padding-top;
}
.shock {
  grid-column: 4/-1;
  grid-row: 2;
  font-size: 0.8em;
  align-self: center;
  padding-left: 5px;
  padding-top: $shock-padding-top;
}
.secret{
  grid-column: 1/-1;
  grid-row: 3/10;
  border-top:  double 3px #000 ;
  padding: 5px;
  background-color: #fff;
  color: #000;
}
.secret-caution {
  grid-column: 1/-1;
  grid-row: 12/12;
  align-self: center;
  text-align: center;
  background-color: #000;
  color: #fff;
  font-size: 0.6em;
  white-space: pre-wrap;
}

// 印刷用のレイアウト
@media print{
  header{
    // 印刷に不要なものは非表示
    display: none;
  }
  .page-break {
     page-break-after: always;
  }

}