/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block 
  padding: 0 15px

  .material-icons 
    font-size: inherit

.add1-regulation,
.survival-regulation
  display: none

.add1-regulation
  background-color: #fffacd

.survival-regulation
  background-color: #98fb98

// キャラクターシート
.pc-image
  max-width: 300px
.pc-image a
  text-shadow: white 2px 2px 0px, white -2px 2px 0px, white -2px -2px 0px, white 2px -2px 0px, white 2px 0px 0px, white 0px 2px 0px, white -2px 0px 0px, white 0px -2px 0px

@media (max-width: 599px) 
  .pc-image
    max-height: 300px
    overflow: hidden
  .pc-image a
    text-shadow: white 1px 1px 0px, white -1px 1px 0px, white -1px -1px 0px, white 1px -1px 0px, white 1px 0px 0px, white 0px 1px 0px, white -1px 0px 0px, white 0px -1px 0px

  // レーダーチャート
#myChart
  width: 300px
  height: 300px
  
// 能力値の数字
.pc-param-number
    font-size: 30px
    padding-left: 10px
    font-weight: bold
