$palette-trueWhite: #fff;
$palette-trueBlack: #000;
$palette-white: #ffe4b5;
$palette-black: #222;

$color-globalHeader-background: $palette-black;
$color-globalFooter-background: $palette-black;
$color-globalMain-background: $palette-white;
