//- 変数一覧
- var title="廃棄世界漂流サバイバルTRPG"
- var description="これは、棄てられた世界の残骸の積もったゴミ箱の中で生き延びる人々を演じるゲームです。プレイヤーの分身であるキャラクター（以下、PC)は、砂漠に島のように浮かんだ世界の名残の中でサバイバルを行います。"
- var keywords="TRPG,廃墟,砂漠,孤独,文明崩壊,サバイバル,漂流"
- var param_str='favorite【肉体】'
- var param_dex='directions_run 【敏捷】'
- var param_sense='visibility 【知覚】'
- var param_mind='search 【精神】'
- var param_luck='toys 【幸運】'
