h3 セッション

p セッションは、いくつかのフェイズに分かれている。 各フェイズは順番に進行する。
ol
  li 導入フェイズ
  li 探索フェイズ
  li 終了フェイズ

h4 サイクル
p このゲームでは、セッション中のプレイヤーの行動機会を均等にするために、 サイクルという概念を使用する。 
p 各キャラクターは未行動と行動済の状態をもつ。
p 全員が行動済となったらサイクルを終了する。
p サイクル終了時の処理で未行動の状態に戻る。
p 一日は昼と夜の2サイクルである。

h4 導入フェイズ
p 導入フェイズではキャラクターの顔合わせと、状況の説明を行う。
p 水を手に入れないと死ぬこと、協力して進んだほうがよいことを理解してもらったら探索フェイズへと進む。

h4 探索フェイズ
p 探索フェイズではキャラクターたちが生き延びるための探索を行う。
p セッションの終了条件を満たしたら終了フェイズに移行する。
p 探索フェイズは以下の流れで進行する。

h5 オブジェクト
p 探索フェイズで描写されるあらゆるものは＜オブジェクト＞と呼ばれる。
p キャラクターやアイテム、道や場所、イベントなどもすべて＜オブジェクト＞である。

ol
  li 移動
  li エリアの描写
  li 自由行動
  li 終了処理

h5 移動
p ＜道＞を通って隣接するエリアに移動する。
p 《走る》のアクションが使用可能な場合、2エリアまでの移動が可能になる。
p イベントオブジェクトが設置されている場合、その効果を解決する。
p (例) 落石。修正0の《走る》アクションに失敗した場合、1の＜ダメージ＞。

h5 エリアの描写
p エリアがどんな場所かの説明と、NPCとの遭遇などを行う。
p 最後に、エリアに存在する＜オブジェクト＞を説明すること。

h5 自由行動
p エリア内の＜オブジェクト＞を調べるなどする。
p オブジェクトごとに基本の情報と、行える《アクション》、成功率が設定されている。
p アクションの結果によって、あらたな＜オブジェクト＞が現れたり、情報やアイテムを得ることができる。
p （例）「＜オブジェクト＞＜上に伸びる道＞と＜下に伸びる道＞がある。上に伸びる道は《調べる》のアクションが可能だ。成功率は10で、アクションを行ったら行動済みになるよ」
p ＜オブジェクト＞の効果で行動済みになるか、自分の意志で行動済みとなることができる。
p 全員が行動済みとなったら終了処理へ移動する。

h5 終了処理
p 全員未行動状態に戻る。
p 夜（偶数サイクル）の場合、その日に食事をしたか、水を飲んだかのチェックを行う。
p 水を飲んでいない場合、＜衰弱状態＞のレベルが1上がる。初期値は0である。＜衰弱状態＞のレベルが3になると＜行動不能＞となる。
p 食事をしていない場合、ダメージ1をうける。


